@font-face {
  font-display: swap;
  font-family: 'Intel One Mono';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/intel-one-mono/IntelOneMono-Regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/geist-v1-latin/geist-v1-latin-200.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/geist-v1-latin/geist-v1-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/geist-v1-latin/geist-v1-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Geist';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/geist-v1-latin/geist-v1-latin-800.woff2') format('woff2');
}

:root {
  font-family: 'Geist', Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font: #333;
  --primary: rgba(0, 123, 255, 1);
  --primary-005: rgba(0, 123, 255, 0.05);
  --primary-01: rgba(0, 123, 255, 0.1);
  --primary-dark: rgba(4, 94, 190, 1);
  --border: rgba(239, 239, 239, 1);
  --border-01: rgba(239, 239, 239, 0.1);
  --border-dark: #e0e0e0;
  --grey: rgba(213, 213, 213, 1);
  --grey-005: rgba(213, 213, 213, 0.05);
  --grey-01: rgba(213, 213, 213, 0.1);
  --grey-02: rgba(213, 213, 213, 0.2);
  --grey-04: rgba(213, 213, 213, 0.4);
  --pink: rgba(255, 0, 129, 1);
  --pink-005: rgba(255, 0, 129, 0.05);
  --green: rgb(0, 130, 54);
  --green-005: rgb(0, 130, 54, 0.05);
}

a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color:var(--primary-dark);
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-align: center;
  width: 100%;
}

.app-container {
  margin: 0;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  font-weight: 500;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em var(--primary));
}

.file-upload-panel {
  margin-top: 0.5em;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0;
  grid-column-gap: 0;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
}

.step {
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.step .step-icon {
  display: grid;
  align-items: center;
  width: 2em;
  height: 2em;
  border: 2px solid var(--font);
  border-radius: 50%;
  color: var(--font);
}

.step.disabled {
  color: var(--font);
}

.step.disabled .step-icon {
  color: var(--font);
  border-color: var(--font);
}

.step .step-icon {
  color: var(--primary);
  border-color: var(--primary);
}

.step:hover {
  background-color: var(--primary);
  color: #fff;
}

.step:hover .step-icon {
  color: #fff;
  border-color: #fff;
}

.step:hover a {
  color: #fff;
  text-decoration: underline;
}

.step-1 {
  align-self: stretch;
}

.step-1, .step-3, .step-4 {
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.step-2 {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  padding: 0.7em 0;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 1fr;
}

#step-1 {
  text-align: left;
}

#step-2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-row-gap: 0em;
  grid-column-gap: 1em;
  align-items: center;
  justify-content: center;
}

.override.none {
  display: none;
}

.override {
  font-size: 0.8em;
  padding: 0.5em;
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1em;
}

.override span {
  margin-left: 1em;
}

.override span.glider {
  margin-left: 0em;
}

.override input {
  outline: none;
  border: 1px solid var(--border);
}

.override input:hover {
  border: 1px solid var(--primary);
}

.output-panel {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  grid-row-gap: 1em;
  grid-column-gap: 0;
  border: 1px solid var(--border);
  margin-top: -1px;
  overflow-y: auto;
  font-size: 0.7em;
  align-items: stretch;
}

.left-panel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-right: 1px solid var(--border);
}

.graph-weight-panel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0em;
  grid-column-gap: 0em;
  align-items: stretch;
  height: 69vh;
}

.panel {
  overflow-y: auto;
  text-align: left;
}

#output-graph, #output-weight, #output-code, #log-console {
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--grey-02), #ffffff;
}

#output-graph::-webkit-scrollbar,
#output-weight::-webkit-scrollbar,
#output-code::-webkit-scrollbar,
#log-console::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

#output-graph::-webkit-scrollbar-track,
#output-weight::-webkit-scrollbar-track,
#output-code::-webkit-scrollbar-track,
#log-console::-webkit-scrollbar-track {
  background: transparent;
}

#output-graph::-webkit-scrollbar-thumb,
#output-weight::-webkit-scrollbar-thumb,
#output-code::-webkit-scrollbar-thumb,
#log-console::-webkit-scrollbar-thumb {
  background-color: var(--grey-04);
  border-radius: 10px;
  border: 3px solid #ffffff;
}

#output-graph:hover::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

#output-weight:hover::-webkit-scrollbar-thumb {
  background-color: var(--green);
}

#output-code:hover::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

#log-console:hover::-webkit-scrollbar-thumb {
  background-color: var(--grey);
}

.node-inputs-outputs {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 3fr;
  grid-row-gap: 0em;
  grid-column-gap: 0.5em;
  align-items: start;
  border-bottom: 1px solid var(--border);
  padding: 0.5em;
  margin-top: -1px;
}

.graph-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 2fr;
  grid-row-gap: 0em;
  grid-column-gap: 0.5em;
  align-items: center;
  padding: 0.5em;
  border-bottom: 1px solid var(--border);
  justify-items: start;
}

.graph-section .inputs,
.graph-section .outputs {
  border-radius: 3px;
  padding: 0 0.2em;
  display: inline-block;
}

.graph-section:hover, .node-inputs-outputs:hover {
  background-color: var(--pink-005);
}

.graph-section:hover .inputs,
.graph-section:hover .outputs {
  border: 1px solid var(--pink);
  color: var(--pink);
}

.initializer {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 2fr;
  grid-row-gap: 0em;
  grid-column-gap: 0.1em;
  align-items: center;
  justify-items: start;
}

#output-weight {
  border-left: 1px solid var(--border);
}

#output-weight p {
  padding: 0 0.5em;
  margin-top: 0.5em;
}

.inputs, .outputs {
  border-radius: 3px;
  padding: 0 0.2em;
  display: inline-block;
  border: 1px solid var(--border);
  color: var(--font);
  font-size: 0.8em;
  justify-self: start;
  width: 1em;
  text-align: center;
}

.type, .inputoutput {
  max-width: 36px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nodename, .name, .tensor {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.weight-section {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 3fr;
  grid-row-gap: 0em;
  grid-column-gap: 0.5em;
  align-items: start;
  border-bottom: 1px solid var(--border);
  padding: 0.5em;
  margin-top: -1px;
}

.weight-section:hover {
  background-color: var(--green-005);
}

#output-code {
  font-family: 'Intel One Mono', 'Geist', Avenir, Helvetica, Arial, sans-serif;
  text-align: left;
  overflow-y: auto;
  padding: 0 1em;
  align-self: start;
  background-color: var(--grey-005);
  height: 100%;
}

.code-tab {
  display: flex;
  align-items: center;
}
.code-tab * {
  z-index: 2;
}

input[type=radio] {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  width: 80px;
  padding: 0 0.5em;
  cursor: pointer;
  transition: color 0.15s ease-in;
}

input[type=radio]:checked + label {
  color: var(--primary);
}

input[id=nchw-js]:checked ~ .glider {
  transform: translateX(0);
}

input[id=nhwc-js]:checked ~ .glider {
  transform: translateX(100%);
}

input[id=webnn-html]:checked ~ .glider {
  transform: translateX(200%);
}

.glider {
  position: absolute;
  display: flex;
  height: 1em;
  padding: 0.2em 0.5em;
  width: 78px;
  background-color: var(--primary-005);
  z-index: 1;
  border: var(--primary) 1px solid;
  border-radius: 3px;
  transition: 0.25s ease-out;
}

@media (max-width: 700px) {
  .code-tab {
    transform: scale(0.6);
  }
}

.pink {
  color: var(--pink);
}

.green {
  color: var(--green);
}

#output-code pre code {
  font-family: 'Intel One Mono', 'Geist', Avenir, Helvetica, Arial, sans-serif;
}

.step-2:hover .upload-button {
  background-color: #fff;
  color: var(--primary);
}

.upload-button {
  border: var(--primary) 1px solid;
  background-color: var(--primary-005);
  padding: 0.1em 0.6em;
  border-radius: 3px;
  color: var(--primary);
  cursor: pointer;
  transition: background-color 0.2s;
}

.upload-button:hover {
  background-color: transparent;
  color: white;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.file-upload-panel .upload-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: stretch;
}

.file-info {
  font-size: 0.8em;
  max-width: 220px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input[type="file"] {
  display: none;
}

#log-console {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0em;
  align-items: center;
  padding: 0.5em;
  text-align: left;
  border-top: 1px solid var(--border);
  height: 3vh;
  overflow-y: scroll;
  background-color: var(--border-01);
}

#download {
  display: none;
  justify-self:end;
}

#download.show {
  display: grid;
}
 

#step-3 svg, #step-4 svg {
  width: 1.1em;
  height: 1.1em;
  margin-bottom: -0.2em;
}

.file-upload-panel:hover {
  border: 1px solid var(--border-dark);
}

#log-console p {
  margin: 0;
  padding: 0;
}

#log-console .log-error {
  color: var(--pink);
}

.generate-action, .download-action {
  align-self: stretch;
}

#generate-btn, #download-btn {
  padding: 1.5em 0;
  outline: none;
  border: 0px solid transparent;
  height: 100%;
  font-size: 1em;
  font-weight: 500;
  transition: border-color 0.25s;
  background-color: transparent;
  align-self: stretch;
  color: var(--primary);
}

#generate-btn:hover, 
#download-btn:hover {
  color: #fff;
  cursor: pointer;
}

#generate-btn:active, #download-btn:active {
  outline: none;
}

#generate-btn:disabled, #download-btn:disabled {
  color: var(--font);
}

.step-3:hover, .step-4:hover {
  background-color: var(--primary);
}

.step-3:hover .step-icon, .step-4:hover .step-icon {
  border-color: #fff;
}

.step-3:hover #generate-btn, .step-3:hover .step-icon,
.step-4:hover #download-btn, .step-4:hover .step-icon {
  color: #fff;
}

.step-3.disabled, .step-4.disabled {
  background-color: var(--border);
}

.step-4.disabled .step-icon {
  border-color: var(--font);
}

.step-3.disabled:hover, .step-4.disabled:hover {
  background-color: var(--border-dark);
}

.step-4.disabled:hover .step-icon {
  border-color: #fff;
}

.app-description, footer {
  font-size: 0.8em;
  text-align: center;
}

.app-description {
  margin-top: 0.5em;
}

footer {
  margin: 0.3em 0 0.5em 0;
}

.file-info svg { 
  display: inline-block;
  width: 1.0em;
  height: 1.0em;
  margin-bottom: -0.2em;
}

footer svg { 
  display: inline-block;
  width: 1.0em;
  height: 1.0em;
  margin-bottom: -0.2em;
}

footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-row-gap: 0em;
  grid-column-gap: 0em;
  align-items: center;
}

footer #copyright {
  text-align: left;
  color: var(--font);
}

footer .footer-link {
  text-align: right;
  color: var(--primary);
}

.app-description ul {
  margin-left: -1em;
}

.app-description ul li {
  text-align: left;
  margin: 0;
  list-style-type: circle;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--font);
    background-color: #ffffff;
  }
  a:hover {
    color: var(--primary-dark);
  }
  button {
    background-color: #f9f9f9;
  }
}

@media (max-width: 600px) {
  .logo {
    height: 1.6em;
  }
  h1 {
    font-size: 1em;
  }
  #output-code {
    font-size: 0.8em;
    height: 30vh;
    width: 100%;
  }
  #output-code pre code {
    width: 100%;
  }
  .monaco-editor {
    width: 100%;
  }
  .log-console {
    padding: 0.5em;
  }
  .file-upload-panel {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: start;
    padding: 0.5em;
    grid-row-gap: 0.5em;
  }
  .file-upload-panel .upload-item {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
  }
  .upload-button {
    padding: 0.2em 0.4em;
    min-width: 160px;
    border-radius: 0;
    font-size: 0.8em;
  }
  .file-info {
    font-size: 0.8em;
    max-width: 140px;
  }
  .generate-action, .download-action {
    justify-self: stretch;
  }
  #generate-btn {
    padding: 0 0.4em;
    width: 100%;
  }
  .app-description ul {
    margin-left: -1.3em;
  }
  .app-description, footer {
    font-size: 0.8em;
    margin: 0.5em;
  }
  .file-upload-panel {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  #step-2 {
    grid-template-columns: 1fr;
    grid-row-gap: 0em;
    grid-column-gap: 1em;
  }
  .file-upload-panel .upload-item {
    flex-direction: column;
    align-items: stretch;
  }

  .graph-weight-panel {
    height: 40vh;
    display: flex;
    flex-direction: column;
  }

  .output-panel {
    display: flex;
    flex-direction: column;
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
  }

  footer .footer-link {
    text-align: center;
  }
}